<nav local-class="nav" ...attributes>
  <div aria-hidden="true" local-class="topbar-nav {{if this.fakeIncomingOverlay "increase"}} {{if this.showAll "showall"}}" class="topbar">
    {{#if this.showExtendNavButton}}
      <button type="button" {{on "click" (perform this.showNavigation)}}>
        {{fa-icon "angle-double-right"}}
      </button>
    {{/if}}
    {{#if this.showShrinkNavButton}}
      <button type="button" {{on "click" (perform this.hideNavigation)}}>
        {{fa-icon "angle-double-left"}}
      </button>
    {{/if}}
  </div>

  <div local-class="nav-overflow {{if this.showAll "showall"}}">
    <Nav::Nav @showAll={{this.showAll}} />
  </div>
  {{#if this.fakeIncomingOverlay}}
    <div local-class="nav-fake-overflow in"></div>
  {{/if}}
  {{#if this.fakeOutgoingOverlay}}
    <div local-class="nav-fake-overflow out"></div>
  {{/if}}
</nav>

{{#if this.overlay}}
  {{! <Layout::Overlay @overlayClick={{this.overlayClick}} /> }}
{{/if}}