<div class="page">
  <div local-class="input-area">
    <button onclick="#">Add File</button>
  </div>

  <div local-class="files">
    {{#each model as |file|}}
      <div local-class="file" onclick="alert('clicked');">
        <div local-class="file-type">{{fa-icon (file-icon file.suffix)}}</div>
        <div local-class="file-ui">
            <a href="#" onclick="alert('share');" local-class="share">{{fa-icon "retweet"}}</a>
            <a href="#" onclick="alert('close');" local-class="times">{{fa-icon "times-circle"}}</a>
            <a href="#" onclick="alert('open menu');">{{fa-icon "ellipsis-v"}}</a>
            <div local-class="progress-bar">
              <div local-class="progress"></div>
            </div>
        </div>
        <div local-class="file-description">{{file.message}}</div>
        <div local-class="file-time">4588992003</div>
        <div local-class="file-size">{{file-size file.size}}</div>
      </div>
    {{/each}}
    
  {{!--   
      <div local-class="file" onclick="alert('clicked');">
        <div local-class="file-type">{{fa-icon "image"}}</div>
        <div local-class="file-ui">
            <a href="#" onclick="alert('share');" local-class="share">{{fa-icon "retweet"}}</a>
            <a href="#" onclick="alert('close');" local-class="times">{{fa-icon "times-circle"}}</a>
            <a href="#" onclick="alert('open menu');">{{fa-icon "ellipsis-v"}}</a>
            <div local-class="progress-bar">
              <div local-class="progress"></div>
            </div>
        </div>
        <div local-class="file-description">This is an image file</div>
        <div local-class="file-time">4588992003</div>
        <div local-class="file-size">{{file-size '3988499399'}}</div>
      </div>

      <div local-class="file" onclick="alert('clicked global');">
        <div local-class="file-type">{{fa-icon "film"}}</div>
        <div local-class="file-ui">
            <a href="#" onclick="alert('share');" local-class="share">{{fa-icon "retweet"}}</a>
            <a href="#" onclick="alert('close');" local-class="times">{{fa-icon "times-circle"}}</a>
            <a href="#" onclick="alert('open menu');">{{fa-icon "ellipsis-v"}}</a>
            <div local-class="progress-bar">
              <div local-class="progress"></div>
            </div>
        </div>
        <div local-class="file-description">Checkout my movie</div>
        <div local-class="file-time">4588992003</div>
        <div local-class="file-size">{{file-size '3988499399'}}</div>
      </div>

      <div local-class="file" onclick="alert('clicked global');">
        <div local-class="file-type">{{fa-icon "file"}}</div>
        <div local-class="file-ui">
            <a href="#" onclick="alert('share');" local-class="share">{{fa-icon "retweet"}}</a>
            <a href="#" onclick="alert('close');" local-class="times">{{fa-icon "times-circle"}}</a>
            <a href="#" onclick="alert('open menu');">{{fa-icon "ellipsis-v"}}</a>
            <div local-class="progress-bar">
              <div local-class="progress"></div>
            </div>
        </div>
        <div local-class="file-description">Some file</div>
        <div local-class="file-time">4588992003</div>
        <div local-class="file-size">{{file-size '4000'}}</div>
      </div>

      <div local-class="file" onclick="alert('clicked global');">
        <div local-class="file-type">{{fa-icon "file-pdf"}}</div>
        <div local-class="file-ui">
            <a href="#" onclick="alert('share');" local-class="share">{{fa-icon "retweet"}}</a>
            <a href="#" onclick="alert('close');" local-class="times">{{fa-icon "times-circle"}}</a>
            <a href="#" onclick="alert('open menu');">{{fa-icon "ellipsis-v"}}</a>
            <div local-class="progress-bar">
              <div local-class="progress"></div>
            </div>
        </div>
        <div local-class="file-description">My PDF</div>
        <div local-class="file-time">4588992003</div>
        <div local-class="file-size">{{file-size '3988499399'}}</div>
      </div>

      <div local-class="file" onclick="alert('clicked global');">
        <div local-class="file-type">{{fa-icon "music"}}</div>
        <div local-class="file-ui">
            <a href="#" onclick="alert('share');" local-class="share">{{fa-icon "retweet"}}</a>
            <a href="#" onclick="alert('close');" local-class="times">{{fa-icon "times-circle"}}</a>
            <a href="#" onclick="alert('open menu');">{{fa-icon "ellipsis-v"}}</a>
            <div local-class="progress-bar">
              <div local-class="progress"></div>
            </div>
        </div>
        <div local-class="file-description">Music file</div>
        <div local-class="file-time">4588992003</div>
        <div local-class="file-size">{{file-size '3988499399'}}</div>
      </div> --}}
  </div>
</div>