<div class="page">
  <h1>{{fa-icon "info"}} {{t "info"}}</h1>

  <div local-class="info panel">
    <a local-class="item"><span local-class="icon">{{fa-icon "info-circle"}}</span>{{t "info.aboutQaulNet"}}</a>
    <a local-class="item"><span local-class="icon">{{fa-icon "info-circle"}}</span>{{t "info.howto"}}</a>
  </div>
</div>