<div class="page">

  <div local-class="input-area">
    {{input value="search"}}
  </div>

  <div local-class="subnavigation">
    <a>{{fa-icon "users"}}</a>
    <a>{{fa-icon "history"}}</a>
    <a>{{fa-icon "lock"}}</a>
    <a>{{fa-icon "star"}}</a>
  </div>

  <div local-class="contacts">
    {{#each model as |user|}}
      <div local-class="user">
        <div local-class="user-icon">
          <div local-class="user-avatar">
            {{#if user.trust}}
              <div local-class="user-trust">{{fa-icon "lock"}}</div>
            {{/if}}
            {{#if user.online}}
              <div local-class="user-online"></div>
            {{/if}}
          </div>
        </div>
        <div local-class="user-menu">{{fa-icon "ellipsis-v"}}</div>
        <div local-class="user-name">
          {{#link-to "users.user" user}}{{user.username}}{{/link-to}}
        </div>
      </div>
    {{/each}}
  </div>
</div>