<LinkTo local-class="conversation" @route="messenger.chat" @model={{@room}}>
  <div local-class="icon">
    <Messenger::RoomIcon @room={{@room}} />
  </div>
  <div local-class="content">
    <div local-class="head">
      <div local-class="name">{{@room.name}}</div>
      <div local-class="time">{{moment-from-now @room.messages.1.timestamp}}</div>
    </div>
    <div local-class="content">DummyText {{@room.messages.1.content}}</div>
  </div>
</LinkTo>