<button type="button" {{on "click" (perform this.slideIn)}}>
  {{fa-icon "history"}}
</button>

{{#if this.showAside}}
  <aside local-class="aside {{this.animation}}">
    <div aria-hidden="true" local-class="topbar-aside" class="topbar">
      <button type="button" {{on "click" (perform this.slideOut)}}>
        {{fa-icon "angle-double-right"}}
      </button>
    </div>

    <div>
      <Aside::Aside />
    </div>
  </aside>
̣{{/if}}

{{#if this.overlay}}
  <Layout::Overlay @overlayClick={{this.overlayClick}} />
{{/if}}