<div local-class="input-area">
  <button onclick={{action 'submit' newFile}}>Add File</button>
</div>

<div local-class="files">
    <div local-class="file" onclick="alert('clicked');">
      <div local-class="file-type">{{fa-icon "image"}}</div>
      <div local-class="file-ui">
          <a href="#" onclick="alert('close');">{{fa-icon "times-circle"}}</a>
          <a href="#" onclick="alert('open menu');">{{fa-icon "eclipse-v"}}</a>
          <div local-class="progress-bar">
            <div local-class="progress"></div>
          </div>
      </div>
      <div local-class="file-description">This is an image file</div>
      <div local-class="file-time">4588992003</div>
      <div local-class="file-size">3988499399</div>
    </div>

    <div local-class="file" onclick="alert('clicked global');">
      <div local-class="file-type">{{fa-icon "film"}}</div>
      <div local-class="file-ui">
          <a href="#" onclick="alert('close');">{{fa-icon "times-circle"}}</a>
          <a href="#" onclick="alert('open menu');">{{fa-icon "eclipse-v"}}</a>
          <div local-class="progress-bar">
            <div local-class="progress"></div>
          </div>
      </div>
      <div local-class="file-description">This is an image file</div>
      <div local-class="file-time">4588992003</div>
      <div local-class="file-size">3988499399</div>
    </div>

    <div local-class="file" onclick="alert('clicked global');">
      <div local-class="file-type">{{fa-icon "file"}}</div>
      <div local-class="file-ui">
          <a href="#" onclick="alert('close');">{{fa-icon "times-circle"}}</a>
          <a href="#" onclick="alert('open menu');">{{fa-icon "eclipse-v"}}</a>
          <div local-class="progress-bar">
            <div local-class="progress"></div>
          </div>
      </div>
      <div local-class="file-description">This is an image file</div>
      <div local-class="file-time">4588992003</div>
      <div local-class="file-size">3988499399</div>
    </div>

    <div local-class="file" onclick="alert('clicked global');">
      <div local-class="file-type">{{fa-icon "file-pdf"}}</div>
      <div local-class="file-ui">
          <a href="#" onclick="alert('close');">{{fa-icon "times-circle"}}</a>
          <a href="#" onclick="alert('open menu');">{{fa-icon "eclipse-v"}}</a>
          <div local-class="progress-bar">
            <div local-class="progress"></div>
          </div>
      </div>
      <div local-class="file-description">This is an image file</div>
      <div local-class="file-time">4588992003</div>
      <div local-class="file-size">3988499399</div>
    </div>

    <div local-class="file" onclick="alert('clicked global');">
      <div local-class="file-type">{{fa-icon "music"}}</div>
      <div local-class="file-ui">
          <a href="#" onclick="alert('close');">{{fa-icon "times-circle"}}</a>
          <a href="#" onclick="alert('open menu');">{{fa-icon "eclipse-v"}}</a>
          <div local-class="progress-bar">
            <div local-class="progress"></div>
          </div>
      </div>
      <div local-class="file-description">This is an image file</div>
      <div local-class="file-time">4588992003</div>
      <div local-class="file-size">3988499399</div>
    </div>
</div>
