<div class="page">
  <h1>{{fa-icon "gear"}} {{t "settings.configuration"}}</h1>

  <div local-class="settings panel">
    <div local-class="name item">{{t "settings.configuration"}}</div>
    <span local-class="item">
      {{t "settings.changeLanguage"}}
      <span local-class="langs">
        <button onclick={{action "setLanguage" "en"}}>EN</button>
        <button onclick={{action "setLanguage" "de"}}>DE</button>
        <button onclick={{action "setLanguage" "ar"}}>AR</button>
      </span>
    </span>
    <span local-class="item">
      {{t "settings.selectTheme"}} <span local-class="icon">{{fa-icon "cog"}}</span>
      <button onclick={{action "setTheme" "dark"}}>dark</button>
      <button onclick={{action "setTheme" "light"}}>light</button>
    </span>
    <a local-class="item"><span local-class="icon">{{fa-icon "info-circle"}}</span>{{t "info.debug"}}</a>

  </div>
</div>