<div class="page">
  <div local-class="user-info">
    <div local-class="user-icon"></div>
    <div local-class="user-name">MyUsername</div>
    <div local-class="edit">
      {{fa-icon "edit"}}
    </div>
  </div>

  <div local-class="settings panel">
    <div local-class="name item">{{t "settings.configuration"}}</div>
    <a local-class="item">{{t "settings.changeLanguage"}} <span local-class="icon">{{fa-icon "cog"}}</span></a>
    <a local-class="item">{{t "settings.selectTheme"}} <span local-class="icon">{{fa-icon "cog"}}</span></a>
  </div>

  <div local-class="info panel">
    <div local-class="name item">{{t "info.information"}}</div>
    <a local-class="item">{{t "info.aboutQaulNet"}}<span local-class="icon">{{fa-icon "info-circle"}}</span></a>
    <a local-class="item">{{t "info.howto"}}<span local-class="icon">{{fa-icon "info-circle"}}</span></a>
    <a local-class="item">{{t "info.debug"}}<span local-class="icon">{{fa-icon "info-circle"}}</span></a>
  </div>
</div>