<div class="page">
  <div local-class="user-info">
    <div local-class="user-icon"></div>
    <div local-class="user-name">MyUsername</div>
    <div local-class="edit">
      {{fa-icon "edit"}}
    </div>
  </div>

  <div local-class="settings panel">
    <div local-class="name item">{{t "settings.configuration"}}</div>
    <span local-class="item">
      {{t "settings.changeLanguage"}}
      <span local-class="langs">
        <button onclick={{action "setLanguage" "en"}}>EN</button>
        <button onclick={{action "setLanguage" "de"}}>DE</button>
        <button onclick={{action "setLanguage" "ar"}}>AR</button>
      </span>
    </span>
    <span local-class="item">
      {{t "settings.selectTheme"}} <span local-class="icon">{{fa-icon "cog"}}</span>
    </span>
  </div>

  <div local-class="info panel">
    <div local-class="name item">{{t "info.information"}}</div>
    <a local-class="item">{{t "info.aboutQaulNet"}}<span local-class="icon">{{fa-icon "info-circle"}}</span></a>
    <a local-class="item">{{t "info.howto"}}<span local-class="icon">{{fa-icon "info-circle"}}</span></a>
    <a local-class="item">{{t "info.debug"}}<span local-class="icon">{{fa-icon "info-circle"}}</span></a>
  </div>
</div>