<nav local-class="nav {{if this.showNav "show"}}" ...attributes>
  <div aria-hidden="true" local-class="topbar {{if fakeIncomingOverlay "increase"}} {{if this.showAll "showall"}}">
      <button {{on "click" (perform this.hideNavigation)}}>
        {{fa-icon "arrow-left"}}
      </button>
  </div>

  <div local-class="nav-overflow {{if this.showAll "showall"}}">
    <Nav @showAll=true />
  </div>
</nav>