<div local-class="root">
  <div aria-hidden="true" local-class="topbar">
    <button {{on "click" this.slideLogIn}}>
      {{fa-icon "history"}}
    </button>
  </div>
  <Layout::TabletNav local-class="nav" />
  <Layout::SlideLog @showLog={{this.showLog}} @slideLogOut={{this.slideLogOut}}  />
  <main local-class="main">{{yield}}</main>
</div>