<nav local-class="nav" ...attributes>
  <div aria-hidden="true" local-class="topbar-nav {{if fakeIncomingOverlay "increase"}} {{if this.showAll "showall"}}">
    {{#if showExtendNavButton}}
      <button {{on "click" (perform this.showNavigation)}}>
        {{fa-icon "angle-double-right"}}
      </button>
    {{/if}}
    {{#if showShrinkNavButton}}
      <button {{on "click" (perform this.hideNavigation)}}>
        {{fa-icon "angle-double-left"}}
      </button>
    {{/if}}
  </div>

  <div local-class="nav-overflow {{if this.showAll "showall"}}">
    <Nav @showAll={{this.showAll}} />
  </div>
  {{#if fakeIncomingOverlay}}
    <div local-class="nav-fake-overflow in"></div>
  {{/if}}
  {{#if fakeOutgoingOverlay}}
    <div local-class="nav-fake-overflow out"></div>
  {{/if}}

</nav>