<div class="page" local-class="page">
  <div local-class="input-area">
    <input {{on "change" this.enterMessage}}>
    <button type="button" {{on "click" this.submit}}>{{t "send"}}</button>
  </div>

  <div local-class="messages">
    {{#each this.messages as |message|}}
      <div local-class="message">
        <div local-class="message-name">{{message.senderName}}</div>
        <div local-class="message-time">{{moment-from-now message.timestamp}}</div>
        <div local-class="message-content">{{message.content}}</div>
      </div>
    {{/each}}
  </div>
</div>