<nav class="top-bar">
  <button {{action "showMenu"}} local-class="menu">{{fa-icon "bars"}}</button>
  <button {{action "showLog"}} local-class="log">{{fa-icon "history"}}</button>
</nav>
<button id="overlay" {{action "hidePanes"}}></button>