<div>
  <LinkTo @route="register">Register</LinkTo>
</div>
<select {{on "change" this.selectUser}}>
  {{#each @model as |user|}}
    <option></option>
    <option value={{user.id}}>{{user.displayName}}</option>
  {{/each}}
</select>

<form {{on "submit" this.submit}}>
  <Input @value={{this.password}} />
  <button type="submit">Login</button>
</form>