<div class="page">
<div local-class="user-info">
  <div local-class="user-icon"></div>
  <div local-class="user-name">MyUsername</div>
  <div local-class="edit">
    {{fa-icon "edit"}}
  </div>
</div>

<div local-class="settings panel">
    <div local-class="name item">Configuration</div>
    <a local-class="item" href="#" onclick="alert('Change Language')">Change Language <span local-class="icon">{{fa-icon "cog"}}</span></a>
    <a local-class="item" href="#" onclick="alert('Share Internet')">Share Internet<span local-class="icon">{{fa-icon "cog"}}</span></a>
    <a local-class="item" href="#" onclick="alert('Add Network Interface')">Add Network Interface<span local-class="icon">{{fa-icon "cog"}}</span></a>
</div>

<div local-class="info panel">
  <div local-class="name item">Information</div>
  <a local-class="item" href="#" onclick="alert('About qaul.net')">About qaul.net<span local-class="icon">{{fa-icon "info-circle"}}</span></a>
  <a local-class="item" href="#" onclick="alert('How To')">How To<span local-class="icon">{{fa-icon "info-circle"}}</span></a>
  <a local-class="item" href="#" onclick="alert('Show Network')">Show Network<span local-class="icon">{{fa-icon "info-circle"}}</span></a>
</div>
</div>
